/* font-family: 'Metropolis-SemiBold'; */
.nav-container a {
    text-decoration: none;
    padding: 20px;
    height: fit-content;
    color: white;
}

.nav-container a:hover {
    background-color: red;
}

.logo img {
    width: 30%;
}